{{/*
    Copyright © 2024 - 2026 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{ $error := false }}

{{/* Initialize arguments */}}
{{ $result := partial "utilities/Args.html" (dict "structure" "hero" "args" . "group" "partial" "strict" false) }}
{{ $args := $result.args }}
{{ if or $result.err $result.warnmsg }}
    {{ partial (cond $result.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict
        "partial" "assets/hero.html"
        "warnid"  "warn-invalid-arguments"
        "msg"     "Invalid arguments"
        "details" ($result.errmsg | append $result.warnmsg)
        "file"    page.File
    )}}
    {{ $error = $result.err }}
{{ end }}

{{/* Initialize global variables */}}
{{- $padding := partial "utilities/GetPadding.html" -}}
{{- $page := or $args.page page -}}

{{/* Initialize local variables */}}
{{ $arrangement := $args.heading.arrangement }}
{{ $align := $args.align }}
{{ $class := $args.class | default "" }}
{{ $scale := 12 }}
{{ $icon := "" }}
{{ with $args.illustration }}
    {{ if .width }}{{ $scale = int .width }}{{ end }}
    {{ $icon = .icon }}
{{ end }}
{{ $heading := cond (eq $args.orientation "horizontal") (merge $args.heading (dict "width" 12)) $args.heading }}

{{ if lt $scale 12 }}
    {{ $class = trim (printf "%s col-%d" $class $scale) " " }}
{{ end }}

{{/* Derive image column width from heading.width, defaulting to 8 (consistent with featured/panels).
     Only applies to horizontal orientation; stacked uses $scale for the image wrapper instead. */}}
{{ $imgColWidth := 12 }}
{{ if eq $args.orientation "horizontal" }}
    {{/* keep a local fallback: heading.width carries no engine default (suppressed
         at the type level so section titles and images span their columns) */}}
    {{ $imgColWidth = sub 12 (or $args.heading.width 8) }}
    {{ if lt $imgColWidth 1 }}{{ $imgColWidth = 1 }}{{ end }}
{{ end }}

{{ $sizes := "100vw" }}
{{ if or (lt $args.width 12) (lt $scale 12) (and (eq $args.orientation "horizontal") (lt $imgColWidth 12)) }}
    {{ $container := 100.0 }}
    {{ if and $args.width (lt $args.width 12) }}
        {{ $container = mul (div (float $args.width) 12.0) 100.0 }}
    {{ end }}
    {{ if eq $args.orientation "horizontal" }}
        {{/* Apply image column fraction, then illustration fraction within that column */}}
        {{ $container = mul (div (float $imgColWidth) 12.0) $container }}
    {{ end }}
    {{ if lt $scale 12 }}
        {{ $container = mul (div (float $scale) 12.0) $container }}
    {{ end }}
    {{ $sizes = replace (printf "(min-width: 768px) %.1fvw, 100vw" $container) ".0" "" }}
{{ end }}

{{ if not $error }}
    {{ if and $args.breadcrumb (not $page.IsHome) }}
        <div class="d-flex flex-column align-items-{{ $align}} mb-{{ $padding.y }} pe-3">
            {{ if site.Params.env_bookshop_live }}
                <i class="text-white">Breadcrumb preview not supported</i>
            {{ else }}
                {{ partial "assets/breadcrumb.html" (dict "page" $page) }}
            {{ end }}
        </div>
    {{ end }}

    {{ $imageWrapper := printf "%s text-%s mx-auto" $class (or $args.illustration.align "center") }}
    {{ $imageJustify := "" }}
    {{ if eq $args.orientation "stacked" }}
        {{ $imageWrapper = printf "%s pb-%d" $imageWrapper $padding.y }}
        {{ $imageJustify = $align }}
    {{ end }}

    {{ $caption := "" }}
    {{ if $args.illustration.caption }}
        {{ if index $args.illustration "caption-url" }}
            {{ $caption = partial "assets/link.html" (dict
                "href"  (index $args.illustration "caption-url")
                "text"  $args.illustration.caption
                "page"  $args.page
                "class" "text-center"
            ) }}
        {{ else }}
            {{ $caption = $args.illustration.caption }}
        {{ end }}
        {{ $caption = printf `<div class="text-center">%s</div>` $caption }}
    {{ end }}

    {{ $illustration := "" }}
    {{ if or $args.illustration.image $args.illustration.icon }}
        {{ $illustrationArgs := dict
            "page"          $args.page
            "image"         $args.illustration.image
            "icon"          $icon
            "anchor"        $args.illustration.anchor
            "mode"          $args.illustration.mode
            "ratio"         $args.illustration.ratio
            "sizes"         $sizes
            "title"         (T "heroImage")
            "wrapper"       $imageWrapper
            "class"         (printf "hero-image %s" (or $args.illustration.class ""))
            "image-overlay" $args.imageOverlay
        }}
        {{ with $imageJustify }}
            {{ $illustrationArgs = merge $illustrationArgs (dict "justify" .) }}
        {{ end }}
        {{ $illustration = partial $args.hook $illustrationArgs }}
    {{ end }}

    {{ $title := partial "assets/section-title.html" (dict
        "heading"       $heading
        "use-title"     $args.useTitle
        "links"         $args.links
        "link-type"     $args.linkType
        "class"         "hero-title"
        "arrangement"   $arrangement
        "justify"       $args.justify
        "heading-style" $args.headingStyle
        "content-style" $args.contentStyle
    ) }}

    {{ if eq $args.orientation "stacked" }}
        {{/* Render stacked component */}}

        {{ $illustration | safeHTML }}
        {{ $caption | safeHTML }}
        {{ $title | safeHTML }}
    {{ else }}
        {{/* Render horizontal component */}}
        <div class="container-fluid p-0">
            <div class="row row-cols-1 {{ if eq $args.orientation "stacked" }}row-cols-md-2 {{ end }} flex-grow-1">
                {{ $order1 := "order-1 order-md-0" }}
                {{ $order2 := "order-0 order-md-1" }}
                {{ if eq $args.order "first" }}
                    {{ $order1 = "order-1" }}
                    {{ $order2 = "order-0" }}
                {{ end }}

                {{- $heroPtY := $padding.y -}}
                {{- if isset $padding "mobileY" }}{{ $heroPtY = $padding.mobileY }}{{ end -}}
                <div class="col col-12 {{ if $illustration }} col-md-{{ sub 12 $imgColWidth }}{{ end }} {{ $order1 }} my-md-auto pt-{{ $heroPtY }} pt-md-0 hero-content">
                    {{ $title | safeHTML }}
                    {{ $args.raw | safeHTML }}
                </div>
                {{ if $illustration }}
                <div class="col col-8 col-md-{{ $imgColWidth }} {{ $order2 }} m-auto {{ if not $args.cover }}my-md-auto align-self-end{{ else }}hero-image-full-height{{ end }}">
                    {{ $illustration | safeHTML }}
                    {{ $caption | safeHTML }}
                </div>
                {{ end }}
            </div>
        </div>
    {{ end }}
{{ end }}
